<a href="https://colab.research.google.com/github/s1290007/s1290007_learn/blob/main/Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 13

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('/content/timeSpendGradeReceivedDataset.csv')

#### 1. Data Processing

1.1     Read the dataset and inspect the structure, column names, and data types.

In [29]:
print(df.head())

       Time taken  Grade/10.00
0   1 min 17 secs          6.0
1         41 secs         10.0
2  3 mins 57 secs          6.0
3         32 secs         10.0
4   1 min 36 secs         10.0

In [30]:
print(df.columns)

Index(['Time taken', 'Grade/10.00'], dtype='object')

In [31]:
print(df.dtypes)

Time taken      object
Grade/10.00    float64
dtype: object

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time taken   117 non-null    object
 1   Grade/10.00  117 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB
None

In [33]:
import re

In [34]:
def convert_to_seconds(time_str):
  match = re.match(r'(?:(\d+)\smins?\s)?(\d+)\ssecs?',time_str)
  if match:
    minutes = int(match.group(1)) if match.group(1) else 0
    seconds = int(match.group(2))
    return minutes * 60 + seconds
  else:
    return None

In [35]:
df['Time in seconds'] = df['Time taken'].apply(convert_to_seconds)

In [36]:
print(df)

         Time taken  Grade/10.00  Time in seconds
0     1 min 17 secs          6.0               77
1           41 secs         10.0               41
2    3 mins 57 secs          6.0              237
3           32 secs         10.0               32
4     1 min 36 secs         10.0               96
..              ...          ...              ...
112         35 secs          6.0               35
113         48 secs         10.0               48
114         44 secs         10.0               44
115         21 secs          4.0               21
116          4 secs          0.0                4

[117 rows x 3 columns]